/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.key {
  text-align: center;
  font-size: 20px;
  color: grey;
  border: 3px solid grey;
  border-style: outset;
  padding: 2px;
  width: 50px;
  float: left;
  height: 200px;
}

.playing {
  color: red;
  border-style: inset;
}

.sharp {
  background: black;
  width: 35px;
  height: 150px;
}
